.bg-main {
    background: rgb(5,5,5);
}

.bg-secondary {
    background: rgb(15,15,15);
}

.bg-third {
    background: rgb(25,25,25);
}
.border-third {
    border-color: rgb(25,25,25);
}

.hoverable-element .hoverable-element-popup {
    display: none;
    z-index: 10;
}

.hoverable-element:hover .hoverable-element-popup {
    display: flex;
}

.university:hover {
    background: rgb(15,15,15); 
}
.university-selected:hover {
    background: rgb(25,25,25);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(17 24 39) inset; /* bg-gray-900 */
  -webkit-text-fill-color: #f3f4f6; /* text-gray-100 */
  transition: background-color 9999s ease-in-out 0s;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(17 24 39) inset;
  -webkit-text-fill-color: #f3f4f6;
}

.blue-gradient {
    background: #0062ff;
    background: linear-gradient(90deg, rgba(0, 98, 255, 1) 0%, rgba(0, 166, 255, 1) 100%);
}
.blue-gradient-hover:hover {
    background: linear-gradient(90deg, rgba(0, 98, 255, 0.9) 0%, rgba(0, 166, 255, 0.9) 100%)
}

.purple-gradient {
    background: #7300ff;
    background: linear-gradient(90deg, rgba(115, 0, 255, 1) 0%, rgba(191, 0, 255, 1) 100%);
}
.purple-gradient-hover:hover {
    background: linear-gradient(90deg, rgba(115, 0, 255, 0.9) 0%, rgba(191, 0, 255, 0.9) 100%);
}

@media (max-width: 1000px) {
    
  .education-container {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-container {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-inner {
    width: 100%;
    max-width: 100%;
  }

  .career-spacing {
    display: none;
  }

  .career-container {
    flex-direction: column;
    align-items: center;
  }

  .career-inner {
    gap: 10px;
  }
}

@media (max-width: 800px) {
    .navbar {
        display: none;
    }
}


@media (max-width: 600px) {
    .landing-container {
        width: 100%;
        min-width: 100%;
    }
    .landing-header {
        font-size: 2.5rem;
        max-width: 100%;
        line-height: 1.5;
        text-align: center;
    }
    .landing-body {
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
    }
    .landing-buttons {
        justify-content: center;
    }
    .landing-image {
        margin-top: 10px;
        width: 300px;
        min-width: 300px;
        height: 300px;
        max-height: 300px;
    }

    .section-subtitle {
        text-align: center;
    }

    .universities {
        width: 100%;
        min-width: 100%;
    }

    .allow-wrap-small {
        white-space: wrap;
    }

    .career-inner {
        width: 100%;
        min-width: 100%;
    }

    .university-name {
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
    }

    .album-list {
        width: 100%;
    }

    .album-element {
        width: 100px;
        max-width: 100px;
    }

    .tier-row {
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
        font-size: 1rem;
    }

    .tier-elements {
        min-height: 100px;
    }

    .book-element {
        height: 85px;
    }

    .proficiency-title {
        text-align: center;
    }
}

@media (max-width: 440px) {
    .tier-row {
        min-width: 75px;
        min-height: 75px;
        max-width: 75px;
        max-height: 75px;
        font-size: 0.8rem;
    }

    .tier-elements {
        min-height: 75px;
    }

    .book-element {
        height: 65px;
    }
}

code {
    border-radius: 10px;
}