@import "tailwindcss";

body {
  color: #fff;
  background: rgb(5,5,5);
  background-size: 100%;
  background-attachment: fixed;

  line-height: 1.5;
  letter-spacing: 0px;
  word-spacing: 0px;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 16px;
}
